body{
    background-color: rgb(214, 241, 252);
    color: #000;
}
.h1{
    background-color: rgb(36, 167, 255);
}
.grey{
    background-color: rgb(128, 148, 170);
}
.grey p{
 
    background-color: rgb(196, 238, 255) ;
}